<div class="buy_section">
  <div class="container buy_container swiper-wrapper">
    <div class="slider_container swiper-slide">
      <ul class="buy_list">
        <li class="buy_item">
          <img
            src="../img/buy_section/mobile/ketchup.png"
            srcset="
              ../img/buy_section/mobile/ketchup.png     156w,
              ../img/buy_section/mobile/ketchup@2x.png  312w,
              ../img/buy_section/tablet/ketchup.png     349w,
              ../img/buy_section/tablet/ketchup@2x.png  698w,
              ../img/buy_section/desktop/ketchup.png    349w,
              ../img/buy_section/desktop/ketchup@2x.png 698w
            "
            sizes="(min-width: 1280px) 349px, (min-width: 1023px) 349px, (max-width: 1023px) 156px"
            alt="ketchup"
            class="buy_photo"
          />
          <div class="description_buy_container">
            <h3 class="buy_item_tittle">Classic sauce</h3>
            <p class="buy_text">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button class="buy_section_btn">Buy now</button>
          </div>
        </li>
        <li class="buy_item down_item">
          <div class="description_buy_container">
            <h3 class="buy_item_tittle">Spicy sauce</h3>
            <p class="buy_text">
              For thrill-seekers, we added hot chili pepper to our sauce, it
              also reveals all the tastes and aromas of the sauce well.
            </p>
            <button class="buy_section_btn">Buy now</button>
          </div>
          <img
            src="../img/buy_section/mobile/red_hot_chili.png"
            srcset="
              ../img/buy_section/mobile/red_hot_chili.png     156w,
              ../img/buy_section/mobile/red_hot_chili@2x.png  312w,
              ../img/buy_section/tablet/red_hot_chili.png     349w,
              ../img/buy_section/tablet/red_hot_chili@2x.png  698w,
              ../img/buy_section/desktop/red_hot_chili.png    349w,
              ../img/buy_section/desktop/red_hot_chili@2x.png 698w
            "
            sizes="(min-width: 1280px) 349px, (min-width: 1023px) 349px, (max-width: 1023px) 156px"
            alt=""
            class="buy_photo"
          />
        </li>
      </ul>
    </div>
    <div class="slider_container swiper-slide">
      <ul class="buy_list">
        <li class="buy_item">
          <img
            src="../img/buy_section/mobile/classic_ketchup.png"
            srcset="
              ../img/buy_section/mobile/classic_ketchup.png     156w,
              ../img/buy_section/mobile/classic_ketchup@2x.png  312w,
              ../img/buy_section/tablet/classic_ketchup.png     349w,
              ../img/buy_section/tablet/classic_ketchup@2x.png  698w,
              ../img/buy_section/desktop/classic_ketchup.png    349w,
              ../img/buy_section/desktop/classic_ketchup@2x.png 698w
            "
            sizes="(min-width: 1280px) 349px, (min-width: 1023px) 349px, (max-width: 1023px) 156px"
            alt=""
            class="buy_photo"
          />
          <div class="description_buy_container">
            <h3 class="buy_item_tittle">Classic sauce</h3>
            <p class="buy_text">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button class="buy_section_btn">Buy now</button>
          </div>
        </li>
        <li class="buy_item down_item">
          <div class="description_buy_container">
            <h3 class="buy_item_tittle">Spicy sauce</h3>
            <p class="buy_text">
              For thrill-seekers, we added hot chili pepper to our sauce, it
              also reveals all the tastes and aromas of the sauce well.
            </p>
            <button class="buy_section_btn">Buy now</button>
          </div>
          <img
            src="../img/buy_section/mobile/hot.png"
            srcset="
              ../img/buy_section/mobile/hot.png     156w,
              ../img/buy_section/mobile/hot@2x.png  312w,
              ../img/buy_section/tablet/hot.png     349w,
              ../img/buy_section/tablet/hot@2x.png  698w,
              ../img/buy_section/desktop/hot.png    349w,
              ../img/buy_section/desktop/hot@2x.png 698w
            "
            sizes="(min-width: 1280px) 349px, (min-width: 1023px) 349px, (max-width: 1023px) 156px"
            alt=""
            class="buy_photo"
          />
        </li>
      </ul>
    </div>

    <div class="slider_container swiper-slide">
      <ul class="buy_list">
        <li class="buy_item">
          <img
            src="../img/buy_section/mobile/tomato.png"
            alt="tomatoes"
            class="buy_photo"
            srcset="
              ../img/buy_section/mobile/tomato.png     156w,
              ../img/buy_section/mobile/tomato@2x.png  312w,
              ../img/buy_section/tablet/tomato.png     349w,
              ../img/buy_section/tablet/tomato@2x.png  698w,
              ../img/buy_section/desktop/tomato.png    349w,
              ../img/buy_section/desktop/tomato@2x.png 698w
            "
            sizes="(min-width: 1280px) 349px, (min-width: 1023px) 349px, (max-width: 1023px) 156px"
          />

          <div class="description_buy_container">
            <h3 class="buy_item_tittle">Classic sauce</h3>
            <p class="buy_text">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button class="buy_section_btn">Buy now</button>
          </div>
        </li>
        <li class="buy_item down_item">
          <div class="description_buy_container">
            <h3 class="buy_item_tittle">Spicy sauce</h3>
            <p class="buy_text">
              For thrill-seekers, we added hot chili pepper to our sauce, it
              also reveals all the tastes and aromas of the sauce well.
            </p>
            <button class="buy_section_btn">Buy now</button>
          </div>
          <img
            src="../img/buy_section/mobile/peper.png"
            srcset="
              ../img/buy_section/mobile/peper.png     156w,
              ../img/buy_section/mobile/peper@2x.png  312w,
              ../img/buy_section/tablet/peper.png     349w,
              ../img/buy_section/tablet/peper@2x.png  698w,
              ../img/buy_section/desktop/peper.png    349w,
              ../img/buy_section/desktop/peper@2x.png 698w
            "
            sizes="(min-width: 1280px) 349px, (min-width: 1023px) 349px, (max-width: 1023px) 156px"
            alt="Chili"
            class="buy_photo"
          />
        </li>
      </ul>
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
