<footer class="footer_section">
  <div class="container footer_container">
    <div class="footer_logo_container">
      <img src="" alt="Logo" />
      <h3 class="logo-title">Cucina</h3>
    </div>
    <ul class="navigation_list_footer">
      <li class="navigation_list_item_footer">
        <a href="" class="navigation_link_footer">Home</a>
      </li>
      <li class="navigation_list_item_footer">
        <a href="" class="navigation_link_footer">Store</a>
      </li>
      <li class="navigation_list_item_footer">
        <a href="" class="navigation_link_footer">Recipes</a>
      </li>
      <li class="navigation_list_item_footer">
        <a href="" class="navigation_link_footer">Gallery</a>
      </li>
    </ul>
    <ul class="contacts_footer_list">
      <li class="contacts_footer_item">
        <svg><use></use></svg>
        <a
          href="https://www.google.com/maps/search/Elvia+Elvavegen+1,+1234+Oslo/@59.8819622,10.838913,11.25z?entry=ttu"
          class="contacts_footer_link"
          >Elvia Elviaveien 1, 1234 Oslo</a
        >
      </li>
      <li class="contacts_footer_item">
        <svg><use></use></svg>
        <a
          href="mailto:willie.jennings@example.com"
          class="contacts_footer_link"
          >willie.jennings@example.com</a
        >
      </li>
    </ul>
    <ul class="social_footer_list">
      <li class="social_footer_item">
        <a href="" class="footer_item_link">
          <svg class="footer_link_icon">
            <use></use>
          </svg>
        </a>
      </li>
      <li class="social_footer_item">
        <a href="" class="footer_item_link">
          <svg class="footer_link_icon">
            <use></use>
          </svg>
        </a>
      </li>
      <li class="social_footer_item">
        <a href="" class="footer_item_link">
          <svg class="footer_link_icon">
            <use></use>
          </svg>
        </a>
      </li>
      <li class="social_footer_item">
        <a href="" class="footer_item_link">
          <svg class="footer_link_icon">
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer_down_text">
      By using this website, you agree to the
      <span>Terms of Service</span>and <span>Privacy Policy</span>
    </p>
  </div>
</footer>
