<header class="header_section">
  <div class="container header_container">
    <nav class="header_navigation">
      <div class="logo_container">
        <svg class="title_logo_icon">
          <use href="../img/sprite.svg#logo_icon"></use>
        </svg>
        <a href="../index.html" class="logo-title">Cucina</a>
      </div>

      <div class="burger_container">
        <svg class="burger_icon">
          <use href="../img/sprite.svg#burger"></use>
        </svg>
      </div>
      <ul class="header_list">
        <li class="header_list_item">
          <a href="" class="header_item_link">Home</a>
        </li>
        <li class="header_list_item">
          <a href="" class="header_item_link">Store</a>
        </li>
        <li class="header_list_item">
          <a href="" class="header_item_link">Recipes</a>
        </li>
        <li class="header_list_item">
          <a href="" class="header_item_link">Gallery</a>
        </li>
      </ul>
      <button class="header_btn">Contact us</button>
    </nav>
  </div>
</header>

<!-- <div class="modal_contact">
  <div class="mcontact_container">
    <h2>Leave your contacts and we will contact you</h2>
    <form class="contact_form">
      <label for=""
        >Name
        <input type="text" />
      </label>
      <label for="">Telephone <input type="text" /> </label>
      <label for=""
        >Email
        <input type="text" />
      </label>
      <label for="">
        <textarea name="" id=""></textarea>
      </label>
    </form>
    <div class="close_container">
      <svg class="contact_close_icon">
        <use></use>
      </svg>
    </div>
  </div>
</div> -->
