<div class="modal_header">
  <div class="modal_container container">
    <div class="modal_logo_container">
      <div class="logo_container_modal">
        <svg class="title_logo_icon">
          <use href="../img/sprite.svg#logo_icon"></use>
        </svg>
        <a href="index.html" class="modal_title">Cucina</a>
      </div>

      <div class="close_container">
        <svg class="close_icon_modal">
          <use href="../img/sprite.svg#close_icon"></use>
        </svg>
      </div>
    </div>

    <ul class="header_list_modal">
      <li class="header_list_item_modal">
        <a href="" class="header_item_link_modal">Home</a>
      </li>
      <li class="header_list_item">
        <a href="" class="header_item_link_modal">Store</a>
      </li>
      <li class="header_list_item">
        <a href="" class="header_item_link_modal">Recipes</a>
      </li>
      <li class="header_list_item">
        <a href="" class="header_item_link_modal">Gallery</a>
      </li>
    </ul>
    <a class="address_link" href="">Contact us</a>
    <div class="burger_modal_container">
      <svg class="modal_burger">
        <use></use>
      </svg>
    </div>
  </div>
</div>
