<section class="hero_section">
  <div class="container hero_container">
    <div>
      <div class="title_container">
        <svg class="hero_icon">
          <use href="../img/sprite.svg#hero_vector"></use>
        </svg>
        <h1 class="hero_title">Cucins di catherina</h1>
      </div>
      <p class="hero_text">
        We know,<br />
        you will <span class="hero_text_span">love</span> our product
      </p>

      <div class="hero_photo_container">
        <img
          class="hero_image"
          src="../img/hero/mobile/ketchup.png"
          srcset="
            ../img/hero/mobile/ketchup.png     202w,
            ../img/hero/mobile/ketchup@2x.png  404w,
            ../img/hero/desktop/ketchup@2x.png 610w,
            ../img/hero/tablet/ketchup.png     305w,
            ../img/hero/tablet/ketchup@2x.png  610w,
            ../img/hero/desktop/ketchup.png    305w
          "
          alt="Ketchup-butle-photo"
          sizes="(min-width: 1280px) 305px, (min-width: 1023px) 305px, (max-width: 1023px) 202px"
        />
        <ul class="photo_hero_list">
          <li class="photo_hero_list_item">
            <ul class="hero_photo_svg_container">
              <li>
                <svg class="hero_round_higer higer_first">
                  <use href="../img/sprite.svg#hero_red_point"></use>
                </svg>
              </li>
              <li>
                <svg class="hero_round_down down_first">
                  <use href="../img/sprite.svg#hero_red_point"></use>
                </svg>
              </li>
              <li class="list">
                <svg class="hero_line_first">
                  <use href="../img/line_first.svg#line"></use>
                </svg>
              </li>
            </ul>
            <p class="photo_hero_text text_one">ITALY TOMATOES</p>
          </li>
          <li class="photo_hero_list_item">
            <ul class="hero_photo_svg_container">
              <li>
                <svg class="hero_round_higer higer_second">
                  <use href="../img/sprite.svg#hero_red_point"></use>
                </svg>
              </li>
              <li>
                <svg class="hero_round_down down_second">
                  <use href="../img/sprite.svg#hero_red_point"></use>
                </svg>
              </li>
              <li>
                <svg class="hero_line_second">
                  <use href="../img/line_second.svg#line"></use>
                </svg>
              </li>
            </ul>
            <p class="photo_hero_text text_two">FRESH GARLIC</p>
          </li>
          <li class="photo_hero_list_item">
            <ul class="hero_photo_svg_container">
              <li>
                <svg class="hero_round_higer higer_third">
                  <use href="../img/sprite.svg#hero_red_point"></use>
                </svg>
              </li>
              <li>
                <svg class="hero_round_down down_third">
                  <use href="../img/sprite.svg#hero_red_point"></use>
                </svg>
              </li>
              <li>
                <svg class="hero_line_third">
                  <use href="../img/line_third.svg#line"></use>
                </svg>
              </li>
            </ul>
            <p class="photo_hero_text text_three">WHITE WINE</p>
          </li>
          <li class="photo_hero_list_item">
            <ul class="hero_photo_svg_container">
              <li>
                <svg class="hero_round_higer higer_forth">
                  <use href="../img/sprite.svg#hero_red_point"></use>
                </svg>
              </li>
              <li>
                <svg class="hero_round_down down_forth">
                  <use href="../img/sprite.svg#hero_red_point"></use>
                </svg>
              </li>
              <li>
                <svg class="hero_line_fourth">
                  <use href="../img/line_fourth.svg#line"></use>
                </svg>
              </li>
            </ul>
            <p class="photo_hero_text text_fohr">FRESH BASIL</p>
          </li>
        </ul>
      </div>
      <button class="buy_btn">Buy now</button>

      <ul class="hero_taste_list">
        <li class="taste_item">
          <p class="taste_list_text taste_item_text">
            <span class="number_hero_text">14</span
            ><span class="taste_list_first_text">different tastes</span>
          </p>
        </li>
        <li>
          <svg class="hero_down_text_icon">
            <use href="../img/sprite.svg#hero_down_text_icon"></use>
          </svg>
        </li>
        <li class="taste_item">
          <p class="taste_list_text taste_item_text">
            <span class="number_hero_text">31</span>
            <span class="taste_list_second_text"
              >factories around the world</span
            >
          </p>
        </li>
      </ul>
    </div>

    <div class="social_contaienr">
      <ul class="social_list">
        <li class="social_list_item">
          <svg class="social_icon">
            <use href="../img/sprite.svg#soc_icon"></use>
          </svg>
        </li>
        <li class="social_list_item">
          <svg class="social_icon">
            <use href="../img/sprite.svg#instagram_icon"></use>
          </svg>
        </li>
        <li class="social_list_item">
          <svg class="social_icon">
            <use href="../img/sprite.svg#youtube_icon"></use>
          </svg>
        </li>
        <li class="social_list_item">
          <svg class="social_icon">
            <use href="../img/sprite.svg#twitter_icon"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
