<main>
  <section class="hero_section">
    <div class="container hero_container">
      <div>
        <h1 class="hero_title">Cucins di catherina</h1>
        <p class="hero_text"></p>
        <button class="buy_btn">Buy now</button>
        <ul class="hero_taste_list">
          <li class="taste_item">
            <p class="taste_list_text"><span>14</span>different tastes</p>
          </li>
          <li class="taste_item">
            <p class="taste_list_text">
              <span>31</span>factories around the world
            </p>
          </li>
        </ul>
      </div>
      <div class="hero_photo_container">
        <img class="hero_image" src="" alt="Ketchup-butle-photo" />
        <ul class="photo_hero_list">
          <li class="photo_hero_list_item">
            <div class="hero_photo_svg_container">
              <svg class="hero_svg">
                <use></use>
              </svg>
              <svg class="hero_svg">
                <use></use>
              </svg>
              <svg class="hero_svg">
                <use></use>
              </svg>
            </div>
            <p class="photo_hero_text">ITALY TOMATOES</p>
          </li>
          <li class="photo_hero_list_item">
            <div class="hero_photo_svg_container">
              <svg class="hero_svg">
                <use></use>
              </svg>
              <svg class="hero_svg">
                <use></use>
              </svg>
              <svg class="hero_svg">
                <use></use>
              </svg>
            </div>
            <p class="photo_hero_text">FRESH GARLIC</p>
          </li>
          <li class="photo_hero_list_item">
            <div class="hero_photo_svg_container">
              <svg class="hero_svg">
                <use></use>
              </svg>
              <svg class="hero_svg">
                <use></use>
              </svg>
              <svg class="hero_svg">
                <use></use>
              </svg>
            </div>
            <p class="photo_hero_text">WHITE WINE</p>
          </li>
          <li class="photo_hero_list_item">
            <div class="hero_photo_svg_container">
              <svg class="hero_svg">
                <use></use>
              </svg>
              <svg class="hero_svg">
                <use></use>
              </svg>
              <svg class="hero_svg">
                <use></use>
              </svg>
            </div>
            <p class="photo_hero_text">FRESH BASIL</p>
          </li>
        </ul>
      </div>
      <div class="social_contaienr">
        <ul class="social_list">
          <li class="social_list_item">
            <svg class="social_icon">
              <use></use>
            </svg>
          </li>
          <li class="social_list_item">
            <svg class="social_icon">
              <use></use>
            </svg>
          </li>
          <li class="social_list_item">
            <svg class="social_icon">
              <use></use>
            </svg>
          </li>
          <li class="social_list_item">
            <svg class="social_icon">
              <use></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="buy_section">
    <div class="container buy_container">
      <div>
        <ul class="buy_list">
          <li class="buy_item">
            <img src="" alt="" class="buy_photo" />
            <h3 class="buy_item_tittle">Classic sauce</h3>
            <p class="buy_text">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button class="buy_btn">Buy now</button>
          </li>
          <li class="buy_item">
            <img src="" alt="" class="buy_photo" />
            <h3 class="buy_item_tittle">Spicy sauce</h3>
            <p class="buy_text">
              For thrill-seekers, we added hot chili pepper to our sauce, it
              also reveals all the tastes and aromas of the sauce well.
            </p>
            <button class="buy_btn">Buy now</button>
          </li>
        </ul>
      </div>
      <div>
        <ul class="buy_list">
          <li class="buy_item">
            <img src="" alt="" class="buy_photo" />
            <h3 class="buy_item_tittle">Classic sauce</h3>
            <p class="buy_text">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button class="buy_btn">Buy now</button>
          </li>
          <li class="buy_item">
            <img src="" alt="" class="buy_photo" />
            <h3 class="buy_item_tittle">Spicy sauce</h3>
            <p class="buy_text">
              For thrill-seekers, we added hot chili pepper to our sauce, it
              also reveals all the tastes and aromas of the sauce well.
            </p>
            <button class="buy_btn">Buy now</button>
          </li>
        </ul>
      </div>
      <div>
        <ul class="buy_list">
          <li class="buy_item">
            <img src="" alt="" class="buy_photo" />
            <h3 class="buy_item_tittle">Classic sauce</h3>
            <p class="buy_text">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button class="buy_btn">Buy now</button>
          </li>
          <li class="buy_item">
            <img src="" alt="" class="buy_photo" />
            <h3 class="buy_item_tittle">Spicy sauce</h3>
            <p class="buy_text">
              For thrill-seekers, we added hot chili pepper to our sauce, it
              also reveals all the tastes and aromas of the sauce well.
            </p>
            <button class="buy_btn">Buy now</button>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="video_section">
    <div class="container">
      <ul class="video_list">
        <li class="video_item">
          <img src="" alt="" class="video_item_photo" />
          <h3 class="video_item_title">Bell pepper pasta</h3>
        </li>
        <li class="video_item">
          <img src="" alt="" class="video_item_photo" />
          <h3 class="video_item_title">Tomato paste</h3>
        </li>
      </ul>
    </div>
  </section>
  <section class="photo_sectoin_swiper">
    <div class="container photo_contaienr">
      <div class="swiper_contaienr"><img src="" alt="" /></div>
      <div class="swiper_contaienr"><img src="" alt="" /></div>
      <div class="swiper_contaienr"><img src="" alt="" /></div>
    </div>
  </section>
</main>
