<section class="video_section">
  <div class="container">
    <ul class="video_list">
      <li class="video_item higer_video">
        <img
          src="../img/video_section/desktop/image1.png"
          alt=""
          class="video_item_photo"
          srcset="
            ../img/video_section/mobile/image1.png     246w,
            ../img/video_section/mobile/image1@2x.png  492w,
            ../img/video_section/tablet/image1.png     451w,
            ../img/video_section/tablet/image1@2x.png  902w,
            ../img/video_section/desktop/image1.png    442w,
            ../img/video_section/desktop/image1@2x.png 884w
          "
          sizes="(min-width: 1280px) 442px, (min-width: 1023px) 451px, (max-width: 1023px) 246px"
        />
        <h3 class="video_item_title">Bell pepper pasta</h3>
      </li>
      <li class="video_item down_video">
        <img
          src="../img/video_section/desktop/image2.png"
          alt=""
          class="video_item_photo"
          srcset="
            ../img/video_section/mobile/image2.png     246w,
            ../img/video_section/mobile/image2@2x.png  492w,
            ../img/video_section/tablet/image2.png     450w,
            ../img/video_section/tablet/image2@2x.png  900w,
            ../img/video_section/desktop/image2.png    442w,
            ../img/video_section/desktop/image2@2x.png 884w
          "
          sizes="(min-width: 1280px) 442px, (min-width: 1023px) 450px, (max-width: 1023px) 246px"
        />
        <h3 class="video_item_title">Tomato paste</h3>
      </li>
    </ul>
  </div>
</section>
