body {
  background: #100f0f;
  color: #f3f3f3;
  font-family: 'Montserrat', sans-serif;
  /* background: linear-gradient(
    200deg,
    rgba(111, 102, 102, 0.9) 0%,
    rgba(16, 15, 15, 0.9) 88.73%,
    rgba(16, 15, 15, 0.9) 99.98%
  ); */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 414px;
}

@media screen and (min-width: 1023px) {
  .container {
    max-width: 1023px;
    padding-left: 47px;
    padding-right: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}
