.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 414px;
}
.hero_section {
  padding-top: 30px;
  padding-bottom: 40px;
}
.hero_title {
  font-weight: 500;
  font-size: 30px;
  color: #f3f3f3;
  text-transform: uppercase;
  max-width: 182px;
}
.hero_text {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  letter-spacing: -0.01em;
  max-width: 195px;
  margin-top: 16px;
}
.hero_text_span {
  font-weight: 600;
  color: #bc1a1a;
}
.hero_icon {
  stroke-width: 1px;
  stroke: #f3f3f3;
  fill: #f3f3f3;
  width: 2px;
  height: 66px;
  background-color: #f3f3f3;
}
.title_container {
  display: flex;
  gap: 8px;
  padding-top: 15px;
}
.photo_hero_list {
  display: none;
}
.hero_taste_list {
  display: flex;
  gap: 22px;
  justify-content: space-between;
  align-items: center;
}
.hero_down_text_icon {
  height: 78px;
  width: 2px;
}
.taste_item_text {
  display: flex;
  gap: 12px;
  align-items: center;
}
.number_hero_text {
  font-weight: 600;
  font-size: 32px;
  color: #f3f3f3;
}
.taste_list_first_text {
  min-width: 121px;
  font-weight: 400;
  font-size: 16px;
  color: #f3f3f3;
}
.taste_list_second_text {
  min-width: 131px;
  font-weight: 400;
  font-size: 16px;
  color: #f3f3f3;
}
.hero_container {
  position: relative;
}
.hero_photo_container {
  position: absolute;
  top: 0;
  right: 15px;
}
.buy_btn {
  margin-top: 226px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  color: #f3f3f3;
  background: rgba(188, 26, 26, 0.2);
  border-radius: 16px;
  padding: 26px 116px;
  /* width: 384px; */
  border-color: transparent;
  margin-bottom: 16px;
  transition: background-color 200ms ease-in-out;
}
.buy_btn:hover {
  background-color: rgba(188, 26, 26, 0.5);
}
.social_icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  fill: #f3f3f3;
  transition: fill 200ms ease-in-out, transform 200ms ease-in-out;
}
.social_icon:hover {
  fill: rgba(188, 26, 26, 0.5);
  transform: scale(1.1);
}

.social_list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

/* ========================================================Tablet============================================ */

@media screen and (min-width: 1023px) {
  .hero_section {
    padding-top: 72px;
    padding-bottom: 43px;
  }
  .container {
    max-width: 1023px;
    padding-left: 47px;
    padding-right: 47px;
  }
  .photo_hero_list {
    display: flex;
    flex-direction: column;
    /* position: relative; */
  }
  .hero_round_down,
  .hero_round_higer {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: rgba(188, 26, 26, 0.8);
  }

  .photo_hero_list_item {
    position: absolute;
    top: 0;
    right: 0;
  }
  .hero_line_first {
    height: 223px;
    width: 214px;
    position: absolute;
    top: -16px;
    right: 180px;
    z-index: 2;
  }

  .hero_photo_container {
    position: absolute;
    top: 0;
    right: 40px;
  }
  .hero_line_second {
    height: 98px;
    width: 241px;
    position: absolute;
    top: 148px;
    right: 164px;
  }
  .hero_line_third {
    width: 227px;
    /* height: 71px; */
    position: absolute;
    top: 270px;
    right: 198px;
  }
  .hero_line_fourth {
    position: absolute;
    top: 422px;
    right: 178px;
    width: 226px;
  }
  .higer_first {
    top: -19px;
    right: 390px;
    z-index: 3;
  }
  .down_first {
    top: 203px;
    right: 176px;
    z-index: 3;
  }
  .higer_second {
    top: 145.5px;
    right: 401px;
    z-index: 3;
  }
  .down_second {
    top: 241.5px;
    right: 164px;
    z-index: 3;
  }
  .higer_third {
    top: 338.5px;
    right: 423px;
    z-index: 3;
  }
  .down_third {
    top: 267.5px;
    right: 193px;
    z-index: 3;
  }
  .higer_forth {
    top: 523.5px;
    right: 402px;
    z-index: 3;
  }
  .down_forth {
    top: 419.5px;
    right: 174px;
    z-index: 3;
  }
  .photo_hero_text {
    font-weight: 400;
    font-size: 16px;
    color: #f3f3f3;
    text-transform: uppercase;
    position: absolute;
  }
  .hero_icon {
    height: 153px;
  }
  /* =======================================Специи текст */

  .text_one {
    top: -33px;
    right: 250px;
    min-width: 140px;
  }
  .text_two {
    top: 130px;
    right: 280px;
    min-width: 122px;
  }
  .text_three {
    top: 324px;
    right: 318px;
    min-width: 106px;
  }
  .text_fohr {
    top: 509px;
    right: 294px;
    min-width: 108px;
  }

  .buy_btn {
    margin-top: 48px;
    border-radius: 16px;
    padding: 26px 116px;
    width: 302px;
    height: 77px;
    border-radius: 16px;
    padding: 0 0;
    max-width: 302px;
    height: 77px;
    font-weight: 500;
    font-size: 30px;
    color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero_title {
    font-weight: 500;
    font-size: 64px;
    color: #f3f3f3;
    max-width: 388px;
  }

  .hero_text {
    margin-top: 24px;
    font-weight: 300;
    font-size: 36px;
    color: #f3f3f3;
    max-width: 477px;
  }
  .hero_taste_list {
    display: flex;
    gap: 22px;
    justify-content: left;
    align-items: center;
  }
  .taste_list_second_text {
    max-width: 131px;
  }
  .social_list {
    gap: 40px;
    margin-top: 74px;
  }
  .social_icon {
    width: 24px;
    height: 24px;
  }
  .hero_text_span {
    font-weight: 900;
    color: rgba(188, 26, 26, 0.71);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
  .social_list {
    display: flex;
    flex-direction: column;
  }
  .hero_container {
    display: flex;
    justify-content: space-between;
  }
  .header_navigation {
    justify-content: space-between;
  }
  .hero_photo_container {
    right: 180px;
  }
}
